.section_about{
    background-image: url(logo192.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    color:black;
    padding: 10px;
}
.about_heading{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section_feedback{
    background-image: url(logo192.png);
    color:black;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}
.feedback_heading{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section_contact{
    background-image: url(logo512.png);
    color:black;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
}
.contact_heading{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section_about,.section_contact,.section_feedback{
    background-attachment: fixed;
}